* {
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin-bottom: 500px;
    color: white;
    background-color: grey;
}

.title {
    padding: 30px 10px;
}
.mainDiv {
    padding: 20px;
    margin: 50px auto;
    width: 50%;
    text-align: center;
    box-shadow: 10px 10px 5px gray;
    color: white;
    background-color: #4A4A4A;

}

.jokes {
    background-color: #D2B48C;
    height: 50px;
    margin: 5 auto; 
    padding: 10px; 
    display: block;
}

.button {
    background-color: #8A2BE2; 
    color: #FFFFFF;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-top: 20px;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.button:hover {
    background-color: #6A007A;
}

